body{
    background-color: #00A5FF;
}
.content{
    width: 400px;
    height: 300px;
    /*float: right;*/
    margin-top:100px;
    margin-right: 100px;
    text-align: center;
    border: 1px solid #CCCCCC;
    box-shadow: -5px 0px 10px 5px  royalblue;
    background-color: white;
    float: right;
    border-radius:5px;
}
.submitButton{
    width: 200px;
    min-height: 20px;
    display: block;
    background-color: #3667ce;
    border: 1px solid #1a46a1;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 20px auto;
}
form{
    width: 250px;
    height: 220px;
    margin: auto;
}
table{
    width: 250px;
    height: 220px;
}
.rightTD{
    width: 170px;
}
.leftTD{
    width: 80px;
}
.inputText {
    width: 200px;
    height: 30px;
}
tr{
    height: 60px;
    margin-bottom: 10px;
}
h1{
    color: white;
    margin-left: 20px;
}
a{
    position:relative;
    top: 15px;
    margin-left: 120px;
}