<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>studentManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>work.stu.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>work.stu.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>work.stu.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>work.stu.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>work.stu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowAllStuServlet</servlet-name>
    <servlet-class>work.stu.servlet.ShowAllStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStuServlet</servlet-name>
    <url-pattern>/ShowAllStuServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowStuByPageServlet</servlet-name>
    <servlet-class>work.stu.servlet.ShowStuByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStuByPageServlet</servlet-name>
    <url-pattern>/ShowStuByPageServlet</url-pattern>
  </servlet-mapping>

</web-app>